.question_body h1 {
    margin: 15px auto;
    font-size: 22px;
    font-weight: 600;
}

.question_footer {
    margin: 10px auto;
}

.question_footer a {
    /* 取消a标签下的按钮的下划线 */
    text-decoration:none;
}

.question_footer button {
    margin: 5px ;
}

#agree_question {
    width: 20px;
    height: 20px;
}

.answer {
    margin: 20px auto;
}

#anwser_avatar {
    width:40px;
    height:40px;
    margin: auto 20px;
}

.answer_header p {
    margin: 10px auto;
    color: gray;
}

.answer_body {
    margin: 10px auto;
}