<!--整体布局模板-->
{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!--    tab页标题-->
    <title>{% block title %}{% endblock %}</title>
    <!--    引用bootstrap来美化前端页面-->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">问答</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#askModal">提问</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-3" type="search" placeholder="搜索" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Go</button>
            </form>
            <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                <!--                未登录则显示登录注册-->
                {% if request.user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">注册</a>
                </li>
                {% else %}
                <!--                已登录则显示用户名-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'user_info' %}">个人信息</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">注销</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--显示后端消息-->
<div class="container">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" aria-labelledby="askModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{% url 'question:ask' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="question_text" class="form-label">请写下你的问题</label>
                        <input type="text" class="form-control" id="question_text" name="question_text">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">发布问题</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery-3.6.0.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>